body{
    background-color:rgb(43, 42, 42);
    color:azure;
    font-family:sans-serif;
}
input[type="text"] {
    background-color: #c0bebe;
    color: #030303;
    border: 1px solid #000000;
    padding: 8px;
    border-radius: 4px;
    width: 40px;
}
.s{
    border: 5px solid white;
    padding: 25px;
    padding-top: 0px;
    padding-left: 30px;
    border-radius: 20px;
    background-color: rgb(36, 36, 36);
    width:fit-content;
    float:left;
    transform:translate(50px, 50px);
}
.s button{
    font-family:sans-serif;
    background-color: #c0bebe;
    color: #030303;
    border: 1px solid #000000;
    padding: 8px;
    border-radius: 4px;
    width: 80px;
}
.m{
    border: 5px solid white;
    padding: 25px;
    padding-top: 0px;
    padding-left: 30px;
    border-radius: 20px;
    background-color: rgb(36, 36, 36);
    width:fit-content;
    float:right;
    transform:translate(-1100px, 50px);
}
.m button{
    font-family:sans-serif;
    background-color: #c0bebe;
    color: #030303;
    border: 1px solid #000000;
    padding: 8px;
    border-radius: 4px;
    width: 80px;
}
a:link{
    color:aqua;
}
a:visited{
    color:teal;
}
button:hover{
    background-color:teal;
}
button:active{
    background-color:aqua;
}
#bmiImg{
    position: absolute;
    left: 1300px;
    top: 190px;
    transform:scale(1.35);
}